.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.changeButton {
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #CCBEFE;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5rem;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}